*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header-container{
  width:100%;
  height: 500px;
  background-image:url(shoes.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  padding:1px;
}

h4{
  font-size: 40px;
  margin-top:150px;
  color:white;
  text-align: center;
}

.header-container p{
  color:white;
  font-size: 20px;
  text-align: center;
}

.box{
  padding:20px;
  max-width:500px;
  width:70%;
  height:200px;
  margin:auto;
  text-align: center;
  background-color: #eee;
  position:relative;
  bottom:100px;
}

.container-form{
  background-color: grey;
  height:800px;
  padding:30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

form{
  max-width:600px;
  width:70%;
  margin:auto;
  background-color: white;
  border-radius: 9;
  padding:50px;
  height:80%;
}

form h3{
  margin-bottom: 20px;
  font-size:20px;

}

form input[type=email]{
  margin-top:10px;
  border-radius: 5px;
  padding:10px;
  width:100%;
  border: 1px solid grey
}

form .name{
  display:flex;
  gap:10px;
  margin-top:10px;
  width:100%;
}

.name .f-name, .name .l-name{
  flex-basis: 50%;
}

.f-name-input, .l-name-input{
  width:100%;
  padding:10px;
  border:1px solid grey;
  border-radius: 5px;
}

.textarea{
  margin-top:10px;
}

input[type=textarea]{
  width:100%;
  height: 250px;
  margin-top:10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.submit{
  margin-top:10px;
  display:flex;
  justify-content: space-between;
}

input[type=submit]{
  padding: 5px 30px;
  border: none;
  color:white;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}

