


.grid-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width:100%;
  max-width: 700px;
  height:600px;
}

.grid-container div{
  border: 1px solid black;
}

.grid-nav{
  grid-column: 1/4;
}

